<!-- CHARSET -->
<meta charset="utf-8" />

<!-- PAGE TITLE -->
<title>Price digger</title>

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="/style/bootstrap.css"/>

<!-- FONT AWESOME -->
<script src="/scripts/fontawesome.js"></script>

<!-- VUE.JS -->
<script src="/scripts/vue.js"></script>

<!-- ADDITIONAL CSS -->
<link rel="stylesheet" href="/style/style.css"/>
