.capitalize {
  text-transform: capitalize;
}

a {
  color: white;
  transition:  0.25s;
}

a:hover {
  text-decoration: none;
  color: #00b462;
  
}

.notiflix-btn {
  transition: all .15s ease-in-out;
  cursor: pointer;
  color: #fff;
  background: #A9A9A9;
  border: none;
  font-size: 12px;
  padding: 8px 14px;
  border-radius: 20px;
  /* box-shadow: 0 6px 20px -8px #000; */
  transition: all .25s ease-in-out;
  text-decoration: none;
}

.notiflix-btn:hover {
  color: #fff;
  text-decoration: none;
}

.notiflix-btn-confirm {
  background: #00b462;
}

.notiflix-btn-basic {
  background: #A9A9A9;
}

.notiflix-btn-sm {
  font-size: 12px !important;
}

.notiflix-btn-lg {
  font-size: 16px;
  padding: 8px 20px;
}

.notiflix-btn:hover {
  box-shadow: inset 0 -60px 5px -5px rgba(0, 0, 0, .2);
}

section ul {
  list-style: none;
  line-height: 1.5em;
}

#categories li i {
  color:#00b462;
  margin-right: 5px;
  transition:  0.25s;
}
#categories li:hover > i {
  color: #00b462;;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 5;
  }
  #products .card-columns, #results.card-columns {
    column-count: 6;
  }
}

#product h4 small a {
  font-size: 0.8em;
}

#product li i, #reportIngredientsResponseModal li i {
  margin-right: 10px;
  color: #00b462;
}

.product-img {
  max-width: 500px;
  max-height: 500px;
}

/* .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343A40' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343A40' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
} */

ol.carousel-indicators li {
  background: #343A40 !important;
}

ol.carousel-indicators li.active {
  background: #828D99 !important;
}

ol.carousel-indicators li:hover,
.product-img:hover {
  cursor: pointer;
}

.loader {
  margin: -25px 0px -15px 0px;
  width: 100px;
}


.modal-footer {
  border-top: none !important;
}

.modal-header {
  border-bottom: none !important;
}

input:hover {
  border-color: #00b462;
}

.notiflix input {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.form-control:focus {
  border-color: #00b462;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 180, 18, 0.6);
}

.displayMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  /*
   * styles go here
   */

  #app {
    border-radius: 0px !important;
  }

  #ingredients {
    border-right: none !important;
  }
} 