<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    <% include ../partials/head %>
</head>

<body class="bg-dark">

    <!-- NAVIGATION -->
    <header>
        <%- include('../partials/nav', {active: 'Products'}) %>
    </header>

    <br>

    <!-- MAIN SECTION -->
    <section class="text-white container-flat mt-5" v-if="products" id="app">
        <div class="flat" id="products">

            <!-- MAIN TITLE -->
            <h3 class="text-center" v-if="category">
                Tous les produits (pour la catégorie <a :href="'/categories/' + category.trim()">{{ category }}</a>)
            </h3>
            <h3 class="text-center" v-else-if="brand">
                Tous les produits (pour la marque <a :href="'/products/brand/' + brand.trim()">{{ brand }}</a>)
            </h3>
            <h3 class="text-center" v-else>Tous les produits</h3>

            <!-- PRODUCTS CONTAINER -->
            <div class="mt-4 products card-columns pr-4 pl-4">

                <!-- PRODUCT CARD -->
                <div v-for="product in products" class="bg-secondary card mt-2 mb-2">

                    <!-- CARD HEADER -->
                    <img :src="product.images[0]" class="bg-white card-img-top d-block text-center  p-3"
                        alt="Image not available yet.">

                    <!-- CARD BODY -->
                    <div class="card-body pt-1">

                        <!-- PRODUCT NAME -->
                        <h5 class="card-title mb-0 mt-2">{{ product.name }}</h5>

                        <!-- PRODUCT GTIN -->
                        <small class="mt-0">{{ product.gtin }}</small>

                        <!-- PRODUCT CARREFOUR PRICE -->
                        <p v-if="getCarrefourPrice(product)" class="card-text mt-2">Carrefour : {{ getCarrefourPrice(product) }}€</p>

                        <!-- PRODUCT PRICE NOT AVAILABLE -->
                        <p v-else class="mt-2"><small class="d-block">Prix introuvable</small></p>

                        <!-- DETAILS BUTTON -->
                        <a :href="links.products + product.gtin" class="notiflix-btn notiflix-btn-confirm">Détails</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>

    <!-- EJS PRODUCTS VARIABLE (WILL BE REMOVED USING JS) -->
    <div id="productsVariable" hidden>
        <%= products %>
    </div>

    <!-- EJS CATEGORY VARIABLE (WILL BE REMOVED USING JS) -->
    <div id="categoryVariable" hidden>
        <%= category %>
    </div>

    <!-- EJS BRAND VARIABLE (WILL BE REMOVED USING JS) -->
    <div id="brandVariable" hidden>
        <%= brand %>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

    <!-- VUE.JS SCRIPT -->
    <script src="/scripts/products.vue.js">
        
    </script>
</body>

</html>