<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="bg-dark">

    <header>
        <%- include('../partials/nav', {active: 'Categories'}) %>
    </header>
    <br>
    <section class="container-flat text-white mt-5" id="app">
        <div class="flat">
            <h3 class="text-center">Categories</h3>
            <div class="card-columns p-4" id="categories">
                <div v-for="category in categories" class="card bg-secondary mt-2 mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ category.title %> }}</h5>
                        <ul class="card-body mb-0">
                            <li v-for="cat in category.data">
                                <i class="fas fa-folder-open"></i>
                                <a :href="links.category + cat.name"
                                    class="capitalize">{{ cat.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        const app = new Vue({
            el: '#app',
            data: () => {
                return {
                    categories: null,
                    links: {
                        category : '/categories/'
                    }
                }
            },
            mounted() {
                this.categories = JSON.parse('<%- categories %>');                
            }
        });
    </script>
</body>

</html>