<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/nav %>
    </header>
    <br />
    <br />
    <section class="container">
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <span id='variableJSON' hidden>
                <%= JSON.stringify(products); %>
            </span>
        </div>
    </section>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var variableJSON = JSON.parse($('#variableJSON').text());
        $('#variableJSON').remove();
        console.log(variableJSON);
        var socket = io();
    </script>
</body>

</html>