<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    <% include ../partials/head %>
</head>

<body class="bg-dark">

    <!-- NAVIGATION -->
    <header>
        <%- include('../partials/nav', {active: 'Search'}) %>
    </header>

    <br>

    <!-- MAIN SECTION -->
    <section class="container-flat mt-5 text-white" id="app">
        <div class="flat">
            <!-- MAIN TITLE -->
            <h3 class="text-center">Search for product(s)</h3>

            <!-- SEARCH FORM -->
            <form class="text-center ">
                <div class="form-group row justify-content-center">
                    <div class="col-xs-2 card bg-secondary p-4 mt-2 notiflix">
                        <input type="text" class="form-control text-center" v-model="term" id="search"
                            aria-describedby="searchHelp" placeholder="gtin, brand, name" />
                        <small id="searchHelp" class="form-text">To scrap new product, please provide a valid
                            gtin.</small>
                        <p class="mt-4">Results will be displayed bellow</p>
                    </div>
                </div>

            </form>

            <!-- RESULTS CONTAINER -->
            <div class="mt-4">
                <h3 class="text-center">Results</h3>
                <div v-if="searchResult" class="pr-4 pl-4 results card-columns" id="results">
                    <!-- PRODUCTS LIST (CARD) -->
                    <div v-for="product in searchResult" class="bg-secondary card mt-2 mb-2">
                        <!-- CARD HEADER -->
                        <img :src="product.images[0]" class="bg-white card-img-top d-block text-center"
                            alt="Image not available yet.">
                        <!-- CARD BODY -->
                        <div class="card-body pt-1">
                            <h5 class="card-title mb-0 mt-2">{{ product.name }}</h5>
                            <div><small class="mt-0">{{ product.gtin }}</small></div>
                            <p v-if="getCarrefourPrice(product)" class="card-text mt-2">Carrefour : {{ getCarrefourPrice(product) }}€</p>
                            <p v-else class="mt-2"><small class="d-block">Price not available yet</small></p>
                            <a :href="links.products + product.gtin" class="notiflix-btn notiflix-btn-confirm">More
                                details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- VUE.JS SCRIPT -->
    <script>
        const app = new Vue({
            el: '#app',
            data: () => {
                return {
                    term: null,
                    searchResult: null,
                    links: {
                        products: '/products/'
                    }
                }
            },
            mounted() {

            },
            methods: {
                getCarrefourPrice(product) {
                    
                    const carrefour = product.retailers.find((retailer) => {
                        return retailer.name == 'Carrefour';
                    });

                    if(carrefour) {
                        return carrefour.globalPrice;
                    }

                    return false;
                }
            },
            watch: {
                term: {
                    handler(val, oldVal) {
                        const data = {
                            term: val
                        };

                        if (val.length > 0) {
                            let self = this;
                            axios.get('/search/auto/?term=' + val).then((response) => {
                                self.searchResult = response.data
                            })
                        }

                    },
                    deep: true
                }
            }
        });

    </script>
</body>

</html>